
/* Additional styles for scrolling and dynamic layout */

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start; /* Align content to the top */
    padding: 20px;
    margin: 0 auto; /* Center the wrapper on the page */
    width: 100%; /* Ensure the wrapper takes the full width */
}

header, section, footer {
    padding: 20px;
    max-width: 2000px; /* Set a max width for the content */
}


section {
    flex-grow: 1;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }
    header, footer {
        width: 250px;
        flex-shrink: 0;
    }
    section {
        flex-grow: 1;
        overflow-y: auto;
    }
}
